<%= stylesheet_link_tag 'style.css' %>
<div class="first-section  margin-auto main-container flex ">
  <div class="image-container">
    <%= image_tag ("bag-1565402_1920.jpg") %>
  </div>
  <div class="quote-container flex">
    <p>Lorem Ipsum ....</p>
  </div>
</div>
<div class="second-section flex space-between main-container margin-auto">
    <%= image_tag ("model-1773191_640.jpg") %>
    <%= image_tag ("groom-4696727_640.jpg") %>
    <%= image_tag ("watch-42803_640.png") %>
    <%= image_tag ("model-1338993_640.jpg") %>
</div>
<div class="third-section margin-auto main-container text-center">
  <select class="" name="">
    <option value="1" selected="selected">EDITOR'S PICKS</option>
    <option value="2">FOR HIM</option>
    <option value="3">NEW ARRIVALS</option>
  </select>
  <div class="flex space-around flex-direction-row">
    <div class="flex flex-direction-column max-width-25-percent">
      <%= image_tag ("handmade-4926872_640.png") %>
      <h4>title</h4>
      <p>description</p>
      <p>price</p>
    </div>
    <div class="flex flex-direction-column max-width-25-percent">
      <%= image_tag ("perfume-2142824_640.png") %>
      <h4>title</h4>
      <p>description</p>
      <p>price</p>
    </div>
    <div class="flex flex-direction-column max-width-25-percent">
      <%= image_tag ("pink-shoes-2107618_640.png") %>
      <h4>title</h4>
      <p>description</p>
      <p>price</p>
    </div>
  </div>
  <div class="flex space-around flex-direction-row">
    <div class="flex flex-direction-column max-width-25-percent">
      <%= image_tag ("pexels-scott-webb-137603.png") %>
      <h4>title</h4>
      <p>description</p>
      <p>price</p>
    </div>
    <div class="flex flex-direction-column max-width-25-percent">
      <%= image_tag ("pexels-photo-6770820.png") %>
      <h4>title</h4>
      <p>description</p>
      <p>price</p>
    </div>
    <div class="flex flex-direction-column max-width-25-percent">
      <%= image_tag ("pexels-klaus-nielsen-63037002.png") %>
      <h4>title</h4>
      <p>description</p>
      <p>price</p>
    </div>
  </div>
  <div class="flex space-around flex-direction-row">
    <div class="flex flex-direction-column max-width-25-percent">
      <%= image_tag ("handmade-4926872_640.png") %>
      <h4>title</h4>
      <p>description</p>
      <p>price</p>
    </div>
    <div class="flex flex-direction-column max-width-25-percent">
      <%= image_tag ("perfume-2142824_640.png") %>
      <h4>title</h4>
      <p>description</p>
      <p>price</p>
    </div>
    <div class="flex flex-direction-column max-width-25-percent">
      <%= image_tag ("pink-shoes-2107618_640.png") %>
      <h4>title</h4>
      <p>description</p>
      <p>price</p>
    </div>
  </div>
  <button type="button" name="button">View More</button>
</div>
<div class="main-container margin-auto fourth-section flex flex-direction-row space-between">
  <div class="circle flex flex-direction-column">
    <div class="height-50-percent text-center">

    </div>
    <div class="background-555 height-50-percent text-center">
      <p>Free shipping</p>
    </div>
  </div>
  <div class="circle flex flex-direction-column">
    <div class="height-50-percent text-center">
      <i class="fab fa-salesforce"></i>
    </div>
    <div class="background-555 height-50-percent text-center">
      <p>Genuine produts</p>
    </div>
  </div>
  <div class="circle flex flex-direction-column">
    <div class="height-50-percent text-center">
      <i class="fas fa-headset"></i>
    </div>
    <div class="background-555 height-50-percent text-center">
      <p>Live chat</p>
    </div>
  </div>
  <div class="circle flex flex-direction-column">
    <div class="height-50-percent text-center">
    </div>
    <div class="background-555 height-50-percent text-center">
      <p>Reliability & quality</p>
    </div>
  </div>
</div>
