<%= stylesheet_link_tag 'style.css' %>
<div class="first-section  margin-auto main-container flex ">
  <div class="image-container">
    <%= image_tag ("bag-1565402_1920.jpg") %>
  </div>
  <div class="quote-container flex">
    <p>Lorem Ipsum ....</p>
  </div>
</div>
<div class="second-section flex space-between main-container margin-auto">
    <%= image_tag ("model-1773191_640.jpg") %>
    <%= image_tag ("groom-4696727_640.jpg") %>
    <%= image_tag ("watch-42803_640.png") %>
    <%= image_tag ("model-1338993_640.jpg") %>
</div>
<div class="margin-auto main-container text-center">
  <select class="" name="">
    <option value="1">EDITOR'S PICKS</option>
    <option value="2">FOR HIM</option>
    <option value="3">NEW ARRIVALS</option>
    <option value="4"></option>
  </select>
  
</div>
