<%= stylesheet_link_tag 'style.css' %>
<div class="first-section  margin-auto main-container flex ">
  <div class="image-container">
    <%= image_tag ("bag-1565402_1920.jpg") %>
  </div>
  <div class="quote-container flex">
    <p>Lorem Ipsum ....</p>
  </div>
  </div>
  <div class="second-section flex space-between main-container margin-auto">
    <%= image_tag ("groom-4696727_640.jpg") %>
    <%= image_tag ("watch-42803_640.png") %>
    <%= image_tag ("model-1338993_640.jpg") %>
    <%= image_tag ("wedding-636021_640.jpg") %>
  </div>
