<!DOCTYPE html>
<html>
  <head>
    <title>TheFifthCollectionClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/89c0957ca7.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header>
      <nav class="top-nav">
        <ul class="flex width-100-percent">
          <li>currency:</li>
          <select class="" name="">
            <option class="border-1-px" value="">australian $ (aud)</option>
            <option class="border-1-px" value="">euro (eur)</option>
            <option class="border-1-px" value="">hong kong  (hkd)</option>
            <option class="border-1-px" value="">singapore $ (sgd)</option>
            <option class="border-1-px" value="">united states $ (usd)</option>
          </select>

          <ul class="align-item-flex-end flex">
            <li class="cursor-pointer"><i class="fas fa-envelope"></i>subscribe</li>
            <li class="cursor-pointer">login</li>
            <li><i class="fas fa-shopping-cart"></i><span>(</span>0<span>)</span></li>
          </ul>
        </ul>
      </nav>
      <div class="flex space-around">
        <div class="">
          <button class="text-white background-turquoise cursor-pointer border-transparent line-height-30 vertical-align-middle" type="button" name="button">SELL WITH US</button>
        </div>
        <div class="cursor-pointer">
          <h1 class="text-center">THE FIFTH</h1>
          <h2 class="text-center text-underline">COLLECTION</h2>
          <p class="text-center">INTELLIGENT LUXURY</p>
        </div>
        <div class="position-relative">
            <i class="fas fa-search position-absolute search-icon"></i>
            <input class="search-input line-height-30" type="search" name="search1" placeholder="I am looking for...">
        </div>
      </div>
      <div class="second-nav-container font-family-avenir">
        <ul class="second-nav text-transform-uppercase list-style-none flex cursor-pointer space-between">
          <li>designer</li>
          <li>collections</li>
          <li>clothing</li>
          <li>shoes</li>
          <li>bags</li>
          <li>jewellery</li>
          <li>editorial</li>
        </ul>
      </div>

    </header>
    <%= yield %>
  </body>
</html>
