<!DOCTYPE html>
<html>
  <head>
    <title>TheFifthCollectionClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header>
      <nav>
        <ul>
          <li>currency:</li>
          <ul>
            <li>australian $ (aud)</li>
            <li>euro (eur)</li>
            <li>hong kong  (hkd)</li>
            <li>singapore $ (sgd)</li>
            <li>united states $ (usd)</li>
          </ul>
          <li></li>
          <li>subscribe</li>
          <li>login</li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
