<!DOCTYPE html>
<html>
  <head>
    <title>TheFifthCollectionClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/89c0957ca7.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header>
      <nav class="top-nav">
        <ul class="flex main-container margin-auto">
          <li>currency:</li>
          <select class="navbar-select" name="">
            <option class="border-1-px" value="">australian $ (aud)</option>
            <option class="border-1-px" value="">euro (eur)</option>
            <option class="border-1-px" value="">hong kong  (hkd)</option>
            <option class="border-1-px" value="">singapore $ (sgd)</option>
            <option class="border-1-px" value="">united states $ (usd)</option>
          </select>

          <ul class="align-item-flex-end flex">
            <li class="cursor-pointer"><i class="fas fa-envelope"></i>subscribe</li>
            <li class="cursor-pointer">login</li>
            <li><i class="fas fa-shopping-cart"></i><span>(</span>0<span>)</span></li>
          </ul>
        </ul>
      </nav>
      <div class="main-container margin-auto">
        <div class="flex space-between">
          <div class="flex align-items-center">
            <button class="text-white background-turquoise cursor-pointer border-transparent line-height-30" type="button" name="button">SELL WITH US</button>
          </div>
          <div class="cursor-pointer">
            <h1 class="text-center">THE FIFTH</h1>
            <h2 class="text-center text-underline">COLLECTION</h2>
            <p class="text-center">INTELLIGENT LUXURY</p>
          </div>
          <div class="position-relative flex align-items-center">
              <i class="fas fa-search position-absolute search-icon"></i>
              <input class="search-input line-height-30" type="search" name="search1" placeholder="I am looking for...">
          </div>
        </div>
        <div class="second-nav-container font-family-avenir">
          <ul class="second-nav text-transform-uppercase list-style-none flex cursor-pointer space-between">
            <li>designer</li>
            <li>collections</li>
            <li>clothing</li>
            <li>shoes</li>
            <li>bags</li>
            <li>jewellery</li>
            <li>editorial</li>
          </ul>
        </div>
      </div>
    </header>
    <div class="position-relative">
      <i class="far fa-comment fa-4x position-fixed chat-icon"></i>
    </div>
    <%= yield %>
    <footer>
      <div class="footer-top-div  text-white">
        <div class="main-container margin-auto flex flex-direction-raw">
          <div class="">
            <p class="footer-first-item">/5</p>
          </div>
          <div class="">
            <p>Some text some text</p>
            <hr>
            <div class="flex flex-direction-raw">
              <p>Follow us:</p>
              <ul class="flex flex-direction-raw">
                <li class="list-style-none margin-5-px" href="#"><i class="cursor-pointer fab fa-facebook-f"></i></li>
                <li class="list-style-none margin-5-px" href="#"><i class="cursor-pointer fab fa-twitter"></i></li>
                <li class="list-style-none margin-5-px" href="#"><i class="cursor-pointer fab fa-pinterest"></i></li>
                <li class="list-style-none margin-5-px" href="#"><i class="cursor-pointer fab fa-instagram"></i></li>
                <li class="list-style-none margin-5-px" href="#"><i class="cursor-pointer fab fa-youtube"></i></li>
              </ul>
            </div>
            <hr>
            <p>Be the first to hear about new arrivals, special events and more</p>
            <form class="" action="index.html" method="post">
              <input type="email" name="" value="" placeholder="Enter your email address">
              <input class="join-form-button text-white" type="submit" name="" value="JOIN">
            </form>
          </div>
          <div class="">
            <h3>TOP BRANDS</h3>
            <ul>
              <li class="list-style-none">1</li>
              <li class="list-style-none">2</li>
              <li class="list-style-none">3</li>
              <li class="list-style-none">4</li>
              <li class="list-style-none">5</li>
              <li class="list-style-none">6</li>
            </ul>
          </div>
          <div class="">
            <h3>TOP BRANDS</h3>
            <ul>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ul>
          </div>
          <div class="">
            <h3>TOP BRANDS</h3>
            <ul>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-bottom-div main-container margin-auto flex flex-direction-raw">
        <img class="footer-image" src="paypal-logo-svg.png" alt="img">
        <img class="footer-image" src="197395-small.png" alt="img">
        <img class="footer-image" src="visa-logo.png" alt="img">
        <img class="footer-image" src="90-909103_dhl-logo-png-logo-dhl-transparent-png.png" alt="img">
        <img class="footer-image" src="fedex-express-logo-vector.png" alt="img">
      </div>
    </footer>
  </body>
</html>
